*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(230,234,234);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container{
    background: url("1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    min-height: 750px;
    min-width: 650px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0,2),
                0 2px 20px 0 rgba(0,0,0,0,2);
}
.header{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    font-size: 30px;
    color: #fff;
}

.iput-container{
    margin: 30px 30px 10px 30px;
}

label{
    color: #fff;
    margin: 0 0 5px 15px;
}

.input-field{
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 0;
}

input{
    outline: none;
    padding: 0 20px 0 20px;
    border: 2px solid rgba(255,255,255,0.15);
    background: rgba(255,255,255,0.35);
    height: 38px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.85),
                0 2px 30px 0 rgba(0,0,0,0,2);
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
}

input:focus{
    border: 2px solid rgba(255,255,255,0.65);
    background: transparent;
    box-shadow: none;
    border: 30px;
}

.submit{
    background: transparent;
    height: 40px;
    border: 2px solid rgba(255,255,255,0.65);
    box-shadow: none;
    transition: .3s ease-in-out;
    margin-top: 10px;
}

.sub,it:hover{
    color: rgb(106,87,168);
    cursor: pointer;
    border: 2px solid rgba(255,255,255,0.16);
    background: rgba(255,255,255,0.35);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.85),
                0 2px 30px 0 rgba(0,0,0,0,2);
}
